.body {
background-color:white

}

#bloco1 {

background-color: lightblue;
border-radius: 25px;
display:flex;
height:  250px;
color: cornflowerblue;


}
.botao_ajuda {
color: white;
}
 
.compra_material {
background-color: blue;
border-radius: 25px;
}

.compra_servico {
background-color: blue;
border-radius: 25px;
}

.fluxo_processos {
background-color: blue;
border-radius: 25px;
}

.status_requisicoes {
background-color: blue;
border-radius: 25px;
}

.nao_sei {
background-color: blue;
border-radius: 25px;
}

.fale_comigo {
color: white;
background-color: blue;
border-radius: 25px;


}
.pedido{
margin-left: 300px;
background-color: aliceblue;
border-radius: 25px;

}
 .linhas {
    display: flex;
    gap: 25px;
    background-color: aliceblue;
    border-radius: 25px;
 }

 .verde {
background-color: chartreuse;
color: white;
border-radius: 25px;
 }

  .amarelo {
background-color: rgb(121, 121, 14);
color: white;
border-radius: 25px;
 }

  .vermelho {
background-color: rgb(255, 0, 0);
color: white;
border-radius: 25px;
 }
